<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.mulgundkar.opencv">
    <application>
        <activity android:name=".EmbeddingV1Activity"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            />
    </application>
</manifest>
